.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background: url("../img/preloader/CubeOut.gif") #fafafa center no-repeat;

}

.done {
  opacity: 0;
  visibility: hidden;
}

.preloader .loader {
  width: 200px;
  height: 200px;
  line-height: 180px;
  border: 5px solid #333333;
  border-radius: 50%;
  align-content: center;
  background-color: #fafafa;
  font-size: 50px;
  color: #333333;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}