body {
  font-family: 'Conv_Lato-Regular';
}

.logo {
  margin-top: 20px;
  width: 200px;
}

.masthead-brand {
  font-family: 'Conv_timeburnerbold';
  font-size: 35px;
  transition: 0.3s;
  text-decoration: underline;

}

.masthead-brand:hover {
  cursor: default;
  text-decoration-color: #1788dd;
}

.nav-masthead {
  font-size: 18px;
}

.main-header-title {
  padding-bottom: 10px;
}

body {
  background-color: #36414b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.header-svg {
  width: 100px;
  margin-top: 10px;
  padding-bottom: 20px;
}

#canvas-preloader {
  background-color: #36414b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");  position: fixed;
  z-index: -1;
}