.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.preloader .loader {
  width: 100px;
  height: 100px;
  line-height: 90px;
  text-shadow: 2px 2px 2px #444;
  box-shadow: 2px 2px 2px #444;
  border: 3px solid #ffffff;
  border-radius: 50%;
  align-content: center;
  font-size: 30px;
  color: #fafafa;
}